.scroll-up {
    animation-name: columnSlideUp;
    animation-timing-function: linear; 
    animation-duration: 50s;
    animation-iteration-count: infinite;
}
.scroll-up-slower {
    animation-name: columnSlideUp;
    animation-timing-function: linear; 
    animation-duration: 55s;
    animation-iteration-count: infinite;
}

@keyframes columnSlideUp {
    0% {
        margin-top: 0px;
    }

    100% {
        margin-top: -478vh;
    }
}
