$font-primary: "Roboto", sans-serif;

$font-size-base: 16px;

$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;

$line-height-default: 1;
$line-height-heading: 1.1;
$line-height-paragraph: 1.4241;

$border-radius-0: 0;
$border-radius-5: 0.5rem;
$border-radius-25: 2.5rem; 
$border-radius-50: 5rem; 

$color-primary: #083983;
$color-accent: #000000;
$background-primary: #f2efe6;
$background-accent: #000000;





